.gallery {
  &__title {
    color: white;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    margin-bottom: 40px;
  }

  &__row {
    margin-top: 200px;
    display: flex;
    flex: 1 1 33.333%;
    gap: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  &__body {
  }

  &__img {
    max-width: 300px;
    margin: 10px;
    border: 5px solid #ece89d;
    padding: 5px;
    &:hover {
      border: 5px solid transparent;
    }
  }

  &__slide {
    font-size: 20px;
    margin-bottom: 5px;
  }

  &__link {
    a {
      font-size: 18px;
      color: #ece89d;
    }
  }
  &__a {
    color: red;
    display: block;
  }
}
.footer {
  &__text {
  }
}
